@charset "UTF-8";
.ui-draggable-dragging {
    z-index: 5000 !important
}

.ui-draggable {
    z-index: 10;
}
.Titles
{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: '黑体', serif;
}
.background {
    position: absolute;
    z-index: -1;
    display: block;
    margin-left: 15vw;
    width: 70vw;
    height: 700px;
    margin-top: auto;
}
.layer {
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: 15vw;
    width: 70vw;
    height: 700px;
    margin-top: auto;
    opacity: 0;
}
.layer2 {
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: 5vw;
    width: 90vw;
    height: 700px;
    margin-top: auto;
    opacity: 0;
}
#drag{
    position: relative;
    width: 30vw;
}
.appear
{
    position: absolute;
    left: 1vw;
    top: 650px;
    width: 100vw;
}
.appear2
{
    position: relative;
    left: 1vw;
    top: 650px;
    width: 100vw;
}
.drag_title
{
    line-height: 25px;
    font-family: "黑体", serif;
    margin-left: 10vw;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}
#step1_拖动区
{
    position: absolute;
}
.element
{
    float: left;
    cursor: pointer;
}
.step_1_element
{
    width: 200px;
    margin: 20px;
    left: 100px;
}
.step3-1_element
{
    width: 150px;
    margin: 15px;
    left: 50px;
}
#game_control
{
    text-align: center;
}


.ui-tooltip {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
}
.ui-tooltip-content{
    text-decoration-color:rgba(255,255,255,1.00);
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font:bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px rgba(0,0,0,0.75);
    z-index: 100;
}
#dragstep3-1_button
{
    margin-top: 250px;
}
#dragstep1_button
{
    margin-top:280px;
}
#dragstep2_button{
    margin-top: 310px
}
